@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* load font */
@layer base {
    body {
      font-family: 'Plus Jakarta Sans', sans-serif;
      background-image: linear-gradient(rgba(255, 255, 255, .0064) .1em, transparent .1em), linear-gradient(90deg, rgba(255, 255, 255, .0064) .1em, transparent .1em);
      background-size: 3em 3em;
    }

    body[color-scheme="dark"] {
      background-color: hsla(217, 52%, 5%, 1);
    }

    body[color-scheme="light"] {
      background-color: hsla(217, 53%, 98%, 1);
    }
}

/* additional class */
@layer utilities {
    .hover-underline-animation {
        @apply text-gray-700 dark:text-gray-200;
        display: inline-block;
        position: relative;
    }

    .hover-underline-animation::after {
        @apply bg-gray-700 dark:bg-gray-200;
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 3px;
        bottom: -2px;
        left: 0;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    .hover-underline-animation:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}